/* About */
.contain {
    font-family: var(--font);
    display:flex;
  }
  .story {
    background-color: black;
    color: #fff;
  }
  .story,
  .abt-img,
  .desc {
    height: 600px;
    width: 33.33%;
    font-family: var(--font1);
  }
  .story h3 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
  }
  .story p {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
    text-justify: inherit;
  }
  .desc p {
    margin-left: 3.5rem;
    margin-right: 5rem;
    text-align: justify;
    text-justify: inherit;
  }
  
  .abt-img {
    background-image: url(img/88213043_531854247445249_3671707185671607419_n\ 1.png);
    background-size: 100% 100%;
  }
  .desc {
    background-color: #804c95;
    color: #fff;
  }
  .desc p {
    margin-top: 8.5rem;
  }
  br {
    margin-bottom: 0.5rem;
  }
  .col-center {
    margin: 0 auto;
    float: none !important;
  }
  .carousel {
    margin: 50px auto;
    padding: 0 70px;
  }
  .carousel-item {
    color: black;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
  }
  .carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
  .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
  }
  .testimonial {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-family: var(--font);
  }
  .inc {
    font-family: var(--font);
    font-size: 1.1rem;
  }
  .overview span {
    color: royalblue;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .carousel {
    height: 600px;
  }
  .carousel .overview {
    font-style: italic;
  }
  .carousel .overview b {
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    color: #db584e;
  }
  .carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
  }
  .carousel-control i {
    font-size: 80px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
  }
  .fa-angle-left {
    margin-top: -202px;
    margin-right: 40px;
  }
  .fa-angle-right {
    margin-top: -160px;
  }
  .carousel .carousel-indicators {
    bottom: -40px;
  }
  .carousel-indicators li,
  .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
    position: fixed;
  }
  .carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .carousel-indicators li.active {
    background: #fff;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .msg {
    font-family: var(--font);
    font-weight: 700;
    font-size: 2rem;
    float: right;
    margin-top: -8rem;
    margin-right: 3rem;
  }
  
  