/* Certificate */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,600&display=swap");
.contain {
  display: flex;
  flex-direction: row;
}
.certi-img {
  background-image: url(img/about_image.jpg);
  width: 50%;
  background-size: 100% 100%;
  /* height: 100vh; */
  margin: 0 auto;
}
.form-right {
  width: 50%;
  background-color: #242424;
  margin: 0 auto;
  height: 650px;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  justify-content: center;
  padding: 0 5rem;
  font-family: var(--font);
}
.form-right h6 {
  margin-bottom: 1rem;
}
.form-right p {
  margin-bottom: 1rem;
}
.col-sm-10 {
  border-radius: unset;
}
.row1 {
  display: flex;
  flex-direction: column;
}
.same-row {
  display: flex;
  flex-direction: row;
}



/* style.css */

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap");
:root {
  /* font_family */
  --font: "Poppins", sans-serif;
  --font1: "Mulish", sans-serif;
  /* color */
  --first-color: #fff;
  --second-color: #242424;
  /* font-size */
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --header-height: 3rem;
  --font-semi: 600;
}

@media screen and(min-width:768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 1rem;
    --normal-font-size: 1rem;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* variable css */
* {
  box-sizing: border-box;
}
body {
  font-family: poppins, sans-serif;
  margin: 0;
}

