/* Media queries */
@media screen and (max-width: 1300px) {
    .certi-img ,.form-right{
        height: 650px;
        margin: 0 auto;
      }
  }
@media screen and (max-width: 1000px) {
    .contain {
      display: flex;
      flex-direction: column;
    }
    .certi-img {
      width: 100%;
      height: 500px;
      background-size: 100% 100%;
    }
    .form-right {
      width: 100%;
      height: 800px;
    }
  }
@media screen and (max-width: 600px){
    .form-right {
        height: 800px;
      }
  }
@media screen and (max-width: 450px){
    .form-right {
        height: 800px;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    
    }
@media screen and (max-width: 350px){
    .form-right {
        height: 800px;
}
  }